body {
    background-color: black;
    color: white;
}
aside {
    float: right;
    padding: 25px;
    margin: 10px;
    background-color: teal;
}

header {
    background-color: grey;
    text-align: center; 
}


footer {
    background-color: grey;
}
